{% extends "base.html" %}
{% block content %}
<html>
    <style type="text/css">
        body{
            background-image: url(static/images/backdrop2.jpg);
            background-size: cover;
        }
    </style>
    <body>
        <title style="size: 100px;">
            Stock Analyzer
        </title>
        <center>
            <div>
                <h1 style="font-size: 65px; color: cornflowerblue;
                        font-family:'Times New Roman', Times, serif;">
                    Stock Analyzer
                </h1>
            </div>
            <div>
                <image src="{{ url_for('static',filename='images/stonks.jpg') }}"
                style="width: 600px; border:cornflowerblue 6px outset;">
                </image>
            </div>
            <br>
            <div>
                <h1 style="font-size:40px; color: cornflowerblue; font-family:'Trebuchet MS',
                'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                    Overview
                </h1>
                <p style="font-size:18px; color: white; font-family:'Trebuchet MS',
                'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                    This is a tool that I have created to gather critical information about any given stock <br>
                    (so long as it is on Yahoo Fiance) and returns it to the user in a readable and not so <br>
                    technical way, because people like to complicate financial terms. When in reality, these <br>
                    things are very simple to understand.
                    <center>
                        <image src="{{ url_for('static',filename='images/selenium.png') }}"></image>
                    </center>
                    <center>
                        <div style="width: 600px;">
                            <p style="font-size:18px; color: white; font-family:'Trebuchet MS',
                    'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                                I built this tool using a handy webscraping tool called <a href="https://selenium-python.readthedocs.io/">Selenium</a>, 
                                which uses the HTML code within a given website to gather  
                                information about whatever you want or need. For my particular version I used python to build
                                my analyzer and the corresponding Python version of Selenium.
                            </p>
                        </div>
                    </center>
                </p>
                <br>
                <br>
                <h1 style="font-size:40px; color: cornflowerblue; font-family:'Trebuchet MS',
                'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                    How to Use It
                </h1>
                <center>
                    <div style="width:600px">
                        <p style="font-size:18px; color: white; font-family:'Trebuchet MS',
                'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                            Below this block will be a box where you can type the ticker of the stock you would like the information on.
                            Once you have typed in the stock ticker, click the submit button and the stock info and explanation for 
                            how it was retrived and processed will be returned.
                        </p>
                    </div>
                </center>
            </div>
            <br>
            <div>
                <form action="#" method="post" name>
                    <p style="color: cornflowerblue; font-size:18px;">
                        Stock Ticker:  
                        <input type="text" name="ticker"/>  
                        <input type="submit" value="Submit"/>
                    </p>
                </form>
            </div>
    </body>       
              
</html>
{% endblock %}
